@page "/"

<PageTitle>Index</PageTitle>

<h1>Blazor Demo Project</h1>

Ceci est la démonstration d'un projet fait avec Blazor, c'est un tableau de bord collaboratif en temps réel pour la gestion de projets.

<CustomLink 
    Url="https://github.com/amorel/TaskBoard" 
    Text="Pour consulter le projet directement dans Github" />